/* reset.css */

/* Reset de margens e preenchimentos */
body,
h1, h2, h3, h4, h5, h6,
p, 
ul, ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Reset de estilos de listas */
ul, ol {
  list-style: none;
}

/* Reset de estilos de links */
a {
  text-decoration: none;
  color: inherit;
}
