body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
}

main { 
    width: 1200px;
    margin: auto;
}

header {
    display: flex;
    flex-direction: column;
    position: relative;
}

.homeBackground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 400px;
}

.homeContent {
    position: relative;
    width: 1200px;
    margin: auto;
}

.homeContent h1 {
    color: white;
    font-size: 50px;
    padding-top: 150px;
}

.homeContent h2 {
    color: white;
    font-size: 25px;
}
  
.logoSenai {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 20px;
}

.iconHeader {
    position: absolute;
    right: 0;
    top: 140px;
}



/*Inicio dos card*/



.Cards {
    position: relative;
    display: flex;
    flex-wrap: wrap-reverse;
    top: 225px;
    justify-content: left;
}

.Card {
    display: flex;    
    flex-direction: column;
    width: 200px;
    height: 280px;
    margin: 0px 30px 50px 30px;
    border: 4px solid #FF7878;
    border-radius: 10px;
    padding: 20px 20px 0 20px;
    background: linear-gradient(rgba(255, 255, 255, 0.3) , rgba(255, 0, 0, 0.1)60%);
    position: relative; 
    align-items: center;
    transition: 0.8s;
    box-shadow: 5px 5px 15px rgb(184, 184, 184);
}

.Card:hover {
    transform: translateY(-20px);
  }

.Card ul {
    margin: 26px 0px 0px 20px;
    list-style-type: circle;
}

.Card a {
    display: flex;
    align-items: center;
}


.Title {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 13px;
}

.Title h3 {
    font-size: 16px;
}

.Content p {
    text-align: justify;
}

/*fim dos card*/

.Figma {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 300px;
}

.videoFigma {
    padding-top: 10px;
    padding-bottom: 100px;
    position: relative;
    z-index: 2;
    width: 600px;
    height: 300px;
}

.footBackgound {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
    width: 100%;
    height: 400px;
}

